# Firebase Environment Files
functions/.env
.firebase/

# Node modules
functions/node_modules/

# OS/IDE files
.DS_Store
.idea/
.vscode/
*.log

# Build Files
*.apk
build/
**/build/
.dart_tool/
**/.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
